<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>521378605726-1eu6muqhvi94ovalc846l0qtbudl431l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521378605726-1eu6muqhvi94ovalc846l0qtbudl431l</string>
	<key>API_KEY</key>
	<string>AIzaSyB5fKxsX4MsK-JXA6ZyL8lhmzQnMUyew-c</string>
	<key>GCM_SENDER_ID</key>
	<string>521378605726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brettmwright.SwampBox</string>
	<key>PROJECT_ID</key>
	<string>swampbox-456f1</string>
	<key>STORAGE_BUCKET</key>
	<string>swampbox-456f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521378605726:ios:9a1e4ec863ddf3fe</string>
	<key>DATABASE_URL</key>
	<string>https://swampbox-456f1.firebaseio.com</string>
</dict>
</plist>